.additional {
  padding-top: 25px;
  padding-bottom: 35px;
}

.additional__goods {
  margin-bottom: 35px;
}

.additional__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 36px;
  padding: 0 53px 0 20px;
  font-family: $captionFont;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  &::before,
  &::after {
    position: absolute;
    top: calc(50% + 2px);
    height: 2px;
    content: "";
    background-color: #68b738;
  }

  &::before {
    content: none;
  }

  &::after {
    right: 0;
    width: 53px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional__item-title {
  display: block;
  margin-bottom: 13px;
  font-family: $captionFont;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional__feature {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
}
