.catalog-more {
  padding-top: 78px;
  padding-bottom: 25px;
  text-align: center;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center top 25px;
}

.catalog-more__title {
  display: block;
  margin-bottom: 8px;
  font-family: $captionFont;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.catalog-more__description {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
}

.catalog-more__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
