.control {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: $media-tablet) {
    min-height: 40px;
    padding-left: 60px;
  }

  &--disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.control__label {
  font-family: $captionFont;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $media-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  &--radio {
    border-radius: 50%;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      width: 13px;
      height: 13px;
      margin: auto;
      content: "";
      border-radius: 50%;
      background-color: #68b738;
    }
  }

  @media (min-width: $media-tablet) {
    width: 40px;
    height: 40px;

    &::after {
      width: 18px;
      height: 18px;
    }
  }
}

.control__check {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
  fill: #68b738;
}

.control__input {
  &:checked + .control__mark .control__check,
  &:checked + .control__mark--radio::after {
    display: block;
  }

  &:hover + .control__mark {
    border-color: #bababa;
  }

  &:focus + .control__mark {
    border-color: #444444;
    outline: 1px solid #444444;
  }
}
