.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.copyright__text {
  margin-right: 27px;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}
