.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__group {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form__group-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  stroke: #000000;
}

.form__label {
  margin: 0 13px 0 0;
  font-family: $captionFont;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $media-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__field {
  width: 100%;
  padding: 13px 48px 13px 20px;
  font-family: $captionFont;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: 20px;

  &--textarea {
    min-height: 150px;
    padding: 10px 12px 10px 15px;
    resize: none;
  }

  &--error {
    border-color: #ff8282;
    outline: 1px solid #ff8282;

    & + .form__group-icon {
      stroke: #ff8282;
    }
  }

  &::-webkit-input-placeholder {
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus,
  &:active {
    border-color: #444444;
    border-radius: 0;
    outline: 1px solid #444444;

    .form__field-icon {
      fill: #68b738;
    }

    & + .form__group-icon {
      stroke: #68b738;
    }
  }

  @media (min-width: $media-tablet) {
    padding: 10px 50px 10px 20px;
    font-size: 20px;
    line-height: 30px;
    background-position: center right 18px;

    &--textarea {
      min-height: 175px;
    }
  }
}

.form__control-group {
  margin: 0;
  padding: 0;
  list-style: none;

  &--accent {
    padding: 20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

    @media (min-width: $media-tablet) {
      border: 1px solid #e7e7e7;
    }
  }
}

.form__control-group-item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form__legend {
  width: 100%;
  margin-top: 0;
  margin-bottom: 36px;
  padding-left: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;

  @media (min-width: $media-tablet) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;

    &--add {
      margin-bottom: 57px;
    }
  }
}

.form__button {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $media-tablet) {
    margin-bottom: 0;
  }
}

.form__caption {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $media-tablet) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.form__submit {
  @media (min-width: $media-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }

  @media (min-width: $media-desktop) {
    grid-template-columns: 568px auto;
    column-gap: 84px;
  }
}

.form__row {
  @media (min-width: $media-desktop) {
    display: grid;
    grid-template-columns: auto 570px;
    column-gap: 80px;
  }
}
