.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 18px;
  background: #ffffff;

  @media (min-width: $media-tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $media-desktop) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 53px;

    &--inner {
      position: relative;
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.header__menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  background: #ffffff;

  &--is-open {
    display: block;
  }

  @media (min-width: $media-tablet) {
    position: static;
    display: flex;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: $media-tablet) {
    width: auto;
  }
}

.header__logo-slogan {
  margin: 0 auto;

  @media (min-width: $media-tablet) {
    margin: 0 0 0 12px;
  }
}

.header__menu-toggle:hover + .header__menu {
  display: block;
}
