.header {
  position: relative;
  z-index: 4;
  padding-top: 10px;
  padding-bottom: 13px;

  @media (min-width: $media-tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $media-desktop) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 53px;

    &--inner {
      position: relative;
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav {
  margin-left: auto;

  &--no-js {
    position: relative;
    width: 100%;
    margin-top: 13px;

    .header__menu {
      position: static;
      display: block;
    }

    .header__menu-toggle {
      display: none;
    }
  }

  @media (min-width: $media-tablet) {
    &--no-js {
      width: auto;
      margin-top: 0;

      .header__menu {
        display: flex;
      }
    }
  }

  @media (min-width: $media-desktop) {
    &--main {
      max-width: 50%;
    }
  }
}

.header__menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  background-color: #ffffff;

  &--is-open {
    display: block;
  }

  @media (min-width: $media-tablet) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
  }
}

.header__logo {
  display: flex;
  align-items: center;

  @media (min-width: $media-tablet) {
    width: 175px;
  }

  @media (min-width: $media-desktop) {
    width: 202px;
  }
}

.header__logo-slogan {
  margin-left: 57px;

  @media (min-width: $media-tablet) {
    display: none;
  }
}
