@import "../settings";

.main-banner {
  margin-bottom: 20px;
  font-family: $captionFont;
  color: #ffffff;
  background-image: url("../img/main-banner-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.main-banner__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 27px 20px 0;
}

.main-banner__title {
  max-width: 250px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.main-banner__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.main-banner__button {
  width: 100%;
}
