.main-banner {
  position: relative;
  margin-bottom: 20px;
  font-family: $captionFont;
  color: #ffffff;
  background-image: url("../img/main-banner-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 302px;

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    height: 302px;
    content: "";
    background-color: #62a53a;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-banner-mobile@2x.png");
  }

  @media (min-width: $media-tablet) {
    min-height: 875px;
    color: #000000;
    background-image: none;

    &::before {
      left: 50%;
      height: 100%;
      content: none;
    }
  }

  @media (min-width: $media-desktop) {
    min-height: 695px;
    margin-bottom: 82px;
    background-image: url("../img/main-banner.png");
    background-position: top right;
    background-size: auto 695px;

    &::before {
      left: 50%;
      height: 100%;
      content: "";
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-banner@2x.png");
    }
  }
}

.main-banner__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 27px 20px 0;

  @media (min-width: $media-tablet) {
    position: relative;
    align-items: flex-start;
    padding: 62px 118px 0;
  }

  @media (min-width: $media-desktop) {
    min-height: 695px;
    padding: 140px 80px 50px 190px;
  }
}

.main-banner__image {
  @media (min-width: $media-tablet) {
    position: absolute;
    top: calc(100% - 85px);
    right: 30px;
    left: 30px;
  }

  @media (min-width: $media-tablet) {
    z-index: -1;
  }

  @media (min-width: $media-desktop) {
    top: 140px;
    left: calc(50% - 162px);
    z-index: 1;
  }
}

.main-banner__title {
  max-width: 250px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

  @media (min-width: $media-tablet) {
    max-width: 420px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.main-banner__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $media-tablet) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-banner__button {
  width: 100%;

  @media (min-width: $media-tablet) {
    width: 245px;
    padding: 17px;
    font-size: 20px;
    line-height: 20px;
  }
}
