.map {
  background-color: #ffffff;

  &--inner {
    background-color: #f2f2f2;
  }
}

.map__banner {
  margin: 0 -20px;

  @media (min-width: $media-desktop) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    margin: 0;
    background-color: #ffffff;
  }
}

.map__wrapper {
  position: relative;
}

.map__frame-wrapper {
  height: 362px;
  background-image: url("../img/map.jpg");
  background-position: left 70% center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.jpg");
  }

  @media (min-width: $media-tablet) {
    height: 400px;
    background-position: center;
  }
}

.map__frame {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
