.nav__toggle {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--is-open {
    background-image: url("../img/menu-open.svg");
  }

  @media (min-width: $media-tablet) {
    display: none;
  }
}
