.partnership {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $media-tablet) {
    padding: 56px 61px;
  }

  @media (min-width: $media-desktop) {
    padding: 56px 77px;
  }
}

.partnership__title {
  flex: 1;
  margin: 0 15px 0 0;
  font-family: $captionFont;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $media-tablet) {
    max-width: 175px;
    padding-top: 3px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $media-desktop) {
    padding: 3px 7px;
  }
}

.partnership__address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $media-tablet) {
    max-width: 165px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $media-desktop) {
    padding-left: 7px;
    text-align: left;
  }
}

.partnership__address-city {
  @media (min-width: $media-tablet) {
    display: block;
    margin-top: 17px;
  }
}
