.props {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 34px;

  @media (min-width: $media-tablet) {
    grid-template-columns: 162px 162px auto;
    column-gap: 42px;
  }

  @media (min-width: $media-desktop) {
    grid-template-columns: 162px 162px;
    row-gap: 60px;
  }
}

.props__item {
  position: relative;
  min-width: 124px;
  padding: 11px 0 17px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $media-tablet) {
    padding: 11px 25px 20px;
  }
}

.props__value {
  font-family: $captionFont;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $media-tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.props__key {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0 14px;
  font-size: 12px;
  line-height: 12px;
  transform: translate(-50%, 50%);
  background-color: #eaeaea;

  @media (min-width: $media-tablet) {
    width: max-content;
    max-width: calc(100% - 16px);
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $media-desktop) {
    background-color: #eaeaea;
  }
}

.props__result {
  font-family: $captionFont;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1 / 3;

  @media (min-width: $media-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    grid-column: unset;
  }

  @media (min-width: $media-desktop) {
    display: block;
    text-align: left;
    grid-column: 1 / 3;
  }
}

.props__result-key {
  @media (min-width: $media-tablet) {
    display: inline-block;
    width: 100%;
    margin-bottom: 9px;
  }

  @media (min-width: $media-desktop) {
    width: auto;
    margin-right: 63px;
    margin-bottom: 0;
  }
}
