.request {
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $media-tablet) {
    padding-top: 58px;
    padding-bottom: 75px;
  }

  @media (min-width: $media-desktop) {
    padding-top: 70px;
    padding-bottom: 69px;
  }
}

.request__title {
  margin: 0 0 37px 0;
  font-family: $captionFont;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;

  @media (min-width: $media-tablet) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}

.request__subtitle {
  max-width: 225px;
  margin: 0 0 40px 0;
  font-family: $captionFont;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $media-tablet) {
    max-width: 320px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}

.request__contact {
  margin-top: 20px;
  padding-bottom: 24px;

  @media (min-width: $media-tablet) {
    margin-top: 67px;
    padding-bottom: 37px;
  }

  @media (min-width: $media-desktop) {
    margin-top: 42px;
  }
}

.request__message {
  padding-bottom: 17px;

  @media (min-width: $media-tablet) {
    padding-bottom: 36px;
  }
}

.request__additional {
  padding-bottom: 30px;

  @media (min-width: $media-tablet) {
    padding-bottom: 40px;
  }

  @media (min-width: $media-desktop) {
    padding-bottom: 50px;
  }
}

.request__cat {
  margin-bottom: 24px;

  @media (min-width: $media-tablet) {
    margin-bottom: 72px;
  }

  @media (min-width: $media-desktop) {
    margin: 0;
  }
}

.request__mode {
  margin: 0 -20px 0;
  color: #222222;

  @media (min-width: $media-tablet) {
    margin: 0;
  }
}

.request__additional-control {
  color: #000000;

  @media (min-width: $media-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    row-gap: 19px;
  }

  @media (min-width: $media-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
  }
}
