.slider__image {
  max-width: 100%;
}

.slider__button {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../img/slider-control.svg");
  background-repeat: no-repeat;
  background-position: center;
}
