.title {
  &--decor {
    transform: translateY(50%);
    border-top: 3px solid #68b738;
  }
}

.title__text {
  position: relative;
  display: inline-block;
  width: min-content;
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $captionFont;
  transform: translateY(-50%);
  background: #ffffff;

  @media (min-width: $media-tablet) {
    width: auto;
    margin-right: -35px;
    margin-left: 0;
    padding-right: 35px;
    padding-left: 35px;
  }

  @media (min-width: $media-desktop) {
    margin-left: -40px;
    padding-left: 40px;
  }
}
