.work {
  padding-bottom: 50px;

  @media (min-width: $media-tablet) {
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $media-desktop) {
    padding-bottom: 54px;
    border: none;
  }
}

.work__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $captionFont;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;

  @media (min-width: $media-tablet) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $media-desktop) {
    margin-bottom: 32px;
  }
}

.work__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    display: block;
    flex: none;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    content: "";
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $media-tablet) {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &--compound::before {
    background-image: url("../img/icon-leaf.svg");
  }

  &--format::before {
    background-image: url("../img/icon-water.svg");
  }

  &--food::before {
    background-image: url("../img/icon-eat.svg");
  }

  &--time::before {
    background-image: url("../img/icon-time.svg");
  }

  @media (min-width: $media-tablet) {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 57px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.work__step {
  position: absolute;
  left: 113px;
  z-index: -1;
  display: none;
  font-family: $captionFont;
  font-size: 280px;
  line-height: 200px;
  color: #f2f2f2;

  @media (min-width: $media-tablet) {
    display: block;
  }
}

.work__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $media-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 67px;
    row-gap: 43px;
  }

  @media (min-width: $media-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.work__description {
  @media (min-width: $media-tablet) {
    max-width: 220px;
  }
}
